@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ObXbMZhKSbpUVzEEQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5dc50;
}

.custom-header {
  margin-top: 20px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-section {
  height: 50%;
  justify-content: space-around;
}

.custom-first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.custom-second-div {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

input {
  font-family: 'Josefin Sans';
  margin: 5px;
  border-radius: 5px;
  color: black;
}

button {
  font-family: 'Josefin Sans';
  color: #530808;
  margin: 5px;
  border-radius: 5px;
  background-color: #00e1ff33;
}
